<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETIndexServlet</servlet-class>
  	<servlet-name>SETIndexServlet</servlet-name>
  </servlet>
  <servlet-mapping>
      <servlet-name>SETIndexServlet</servlet-name>
      <url-pattern>/SETIndexServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETIndexUpdaterServlet</servlet-class>
  	<servlet-name>SETIndexUpdaterServlet</servlet-name>
  </servlet>
  <servlet-mapping>
      <servlet-name>SETIndexUpdaterServlet</servlet-name>
      <url-pattern>/SETIndexUpdaterServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETHighlightsUpdateServlet</servlet-class>
  	<servlet-name>SETHighlightsUpdateServlet</servlet-name>
  </servlet>
  <servlet-mapping>
      <servlet-name>SETHighlightsUpdateServlet</servlet-name>
      <url-pattern>/SETHighlightsUpdateServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETHighlightsBatchRetryServlet</servlet-class>
  	<servlet-name>SETHighlightsBatchRetryServlet</servlet-name>
  </servlet>
  <servlet-mapping>
      <servlet-name>SETHighlightsBatchRetryServlet</servlet-name>
      <url-pattern>/SETHighlightsBatchRetryServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETHighlightsBatchServlet</servlet-class>
  	<servlet-name>SETHighlightsBatchServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>SETHighlightsBatchServlet</servlet-name>
      <url-pattern>/SETHighlightsBatchServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETHighlightsServlet</servlet-class>
  	<servlet-name>SETHighlightsServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>SETHighlightsServlet</servlet-name>
      <url-pattern>/csv</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETHighlightsForYodServlet</servlet-class>
  	<servlet-name>SETHighlightsForYodServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>SETHighlightsForYodServlet</servlet-name>
      <url-pattern>/csvYod</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.SETHistoricalServlet</servlet-class>
  	<servlet-name>SETHistoricalServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>SETHistoricalServlet</servlet-name>
      <url-pattern>/his</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.YahooTrainServlet</servlet-class>
  	<servlet-name>YahooTrainServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>YahooTrainServlet</servlet-name>
      <url-pattern>/YahooTrainServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.YahooTrainBatchServlet</servlet-class>
  	<servlet-name>YahooTrainBatchServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>YahooTrainBatchServlet</servlet-name>
      <url-pattern>/YahooTrainBatchServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.YahooPredictBatchServlet</servlet-class>
  	<servlet-name>YahooPredictBatchServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>YahooPredictBatchServlet</servlet-name>
      <url-pattern>/YahooPredictBatchServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.YahooPredictServlet</servlet-class>
  	<servlet-name>YahooPredictServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>YahooPredictServlet</servlet-name>
      <url-pattern>/YahooPredictServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-class>com.th.eoss.servlet.YahooPredictResetBatchServlet</servlet-class>
  	<servlet-name>YahooPredictResetBatchServlet</servlet-name>
  	</servlet>
  <servlet-mapping>
      <servlet-name>YahooPredictResetBatchServlet</servlet-name>
      <url-pattern>/YahooPredictResetBatchServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>